{% extends 'base.html' %}

{% block content %}

<h2 class="post-title">user login</h2>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit"><text class="error" style="margin-left: 20px;">{{ error }}</text>
</form>

{% endblock %}
